<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
    <h1> Listado de Clientes </h1>

    <table class="table-customer  paginate-table">
        <thead>
            <tr>
            <th class="tittle-container">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${customer}">
                <td th:text="${customer.name}">
                </td>
            </tr>
        </tbody>
    </table>
    <span th:text="'Count:' + ${#lists.size(customer)}"></span>
</body>

</html>

</html>